<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="mt-4">Список мест</h1>
      <hr>
      <div class="list-group">
        <div class="list-group-item" *ngFor="let venue of venues">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ venue.name }}</h5>
            <small>Добавлено: {{ venue.created_at | date:'short' }}</small>
          </div>
          <p class="mb-1">{{ venue.description }}</p>
          <small>Адрес: {{ venue.address }}</small>
          <br>
          <small>Телефон: {{ venue.phone }}</small>
          <br>
          <small>Email: {{ venue.email }}</small>
          <br>
          <small>Вебсайт: <a href="{{ venue.website }}" target="_blank">{{ venue.website }}</a></small>
          <br>
          <small>Часы работы: {{ venue.opening_hours }}</small>
          <hr>
          <div class="d-flex w-100 justify-content-between">
            <div>Фотографии:</div>
            <div *ngFor="let image of venue.images">
              <img [src]="image.url" alt="" style="width: 100px; height: 100px;">
            </div>
          </div>
          <hr>
          <div class="d-flex w-100 justify-content-between">
            <div>Рейтинги:</div>
            <div *ngFor="let rating of venue.ratings">
              <span>{{ rating.score }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
